@use "./abstracts" as a;
@use "./components";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.display {
    display: flex;
    padding-top: 115px;
    justify-content: center;
}