@use "./abstracts" as a;
@import "./components";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.display {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    img {
        border-radius: 50%;
    }
}