@use '../abstracts' as a;

.side_nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 25px 0 0;
    .requests {
        @include a.secondaryCard;
        .friendCard {
            @include a.friendCard;
        }
    }
    .connections {
        @include a.secondaryCard;
        .friendCard {
            @include a.friendCard;
        }
        .viewMore {
            padding: 10px;
            font-size: 1.7em;
            border: 3px solid rgba(0,0,0,0.5);
        }
    }
}